<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
        <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="css/bootstrap-icons/font/bootstrap-icons.css") }}" rel="stylesheet">

    <title>BierWo?</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BierWo?</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for("list_kegs") }}">Fässer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("list_brews") }}">Sude</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-primary" role="alert">{{ message }}</div>
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% block title %}{% endblock %}</h1>
      </div>
      <div class="col" align="right">
        {% if quicklink is defined %}<a class="btn btn-lg" href="{{ quicklink }}"><i class="bi-house"></i></a>{% endif %}
      </div>
    </div>
  </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}"></script>

  </body>
</html>
