{% extends "base.html" %}

{% block extra_css %}
<link href="{{ url_for("static", filename="css/select2.min.css") }}" rel="stylesheet">
<link href="{{ url_for("static", filename="css/select2-bootstrap4.min.css") }}" rel="stylesheet">
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for("static", filename="js/jquery-3.5.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/select2.min.js") }}"></script>
{% endblock %}

{% block tail_js %}
$(document).ready(function() {
    $('#location').select2({
        tags: true,
        theme: 'bootstrap4',
    });
});
{% endblock %}

{% block title %}Neuer Kommentar{% endblock %}

{% block content %}
<div class="container">
<form method="POST" action="{{ url_for(".create_keg_comment", keg_id=keg_id) }}">
    {{ form.csrf_token }}
<div class="mb-3">
    {{ form.location.label(class="form-label") }}
    {{ form.location(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.comment.label(class="form-label") }}
    {{ form.comment(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.reserved.label(class="form-label") }}
    {{ form.reserved() }}
</div>
    <button type="submit" class="btn btn-primary">Erstellen</button>
</form>
</div>
{% endblock %}