{% extends "base.html" %}
{% block title %}Fass {{ keg.name }} bearbeiten{% endblock %}
{% block content %}
<div class="container">
<form method="POST" action="{{ url_for(".edit_keg", keg_id=keg.id) }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
<div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control", disabled="true") }}
</div>
<div class="mb-3">
    {{ form.size.label(class="form-label") }}
    {{ form.size(class="form-control", disabled="true") }}
</div>
<div class="mb-3">
    {{ form.fermenter.label(class="form-label") }}
    {{ form.fermenter() }}
</div>
<div class="mb-3">
    {{ form.isolated.label(class="form-label") }}
    {{ form.isolated() }}
</div>
<div class="mb-3">
    {{ form.fitting.label(class="form-label") }}
    {{ form.fitting(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.type.label(class="form-label") }}
    {{ form.type(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.image.label(class="form-label") }}
    {{ form.image() }}
</div>
<div class="mb-3">
    {{ form.comment.label(class="form-label") }}
    {{ form.comment(class="form-control") }}
</div>
    <button type="submit" class="btn btn-primary">Erstellen</button>
</form>
</div>
{% endblock %}