{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid p-4"><a class="btn btn-primary" href="{{ url_for(".create_keg") }}" role="button">Neues Fass</a></div>
{% endif %}
<dl class="row p-2">
    <div class="col">
        <dt class="col">Bier</dt>
        <dd class="col">{{ drinkable_beer }}</dd>
    </div>
    <div class="col">
        <dt class="col">Saubere Fässer</dt>
        <dd class="col">{{ cleaned_kegs }}</dd>
    </div>
    <div class="col">
        <dt class="col">Jungbier</dt>
        <dd class="col">{{ fermenting_beer }}</dd>
    </div>
    <div class="col">
        <dt class="col">leere Gärfässer</dt>
        <dd class="col">{{ empty_fermenters }}</dd>
    </div>
    <div class="col">
        <dt class="col">Bier getrunken</dt>
        <dd class="col">{{ drunk_beer }}</dd>
    </div>
</dl>
<div class="container-fluid">
    <h3>Volle Fässer</h3>
<div class="table-responsive-sm">
<table class="table">
    <thead>
        <td>Bier</td>
        <td>V(l)</td>
        <td>Ort</td>
        <td>Fass</td>
    </thead>
    {% for keg in kegs %}
    {% if keg|last_filling is not none and (keg|last_filling).empty_date is none and not keg.reserved %}
    <tr>
        <td>{{ keg|last_beer }}</td>
        <td>{{ keg.size }}</td>
        <td>{{ keg|last_location }}</td>
        <td><a href="{{ url_for(".show_keg", keg_id=keg.id) }}">{{ keg.name }}</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
    <h3>Reservierte Fässer</h3>
<table class="table">
    <thead>
        <td>Bier</td>
        <td>V(l)</td>
        <td>Ort</td>
        <td>Fass</td>
    </thead>
    {% for keg in kegs %}
    {% if keg|last_filling is not none and (keg|last_filling).empty_date is none and keg.reserved %}
    <tr>
        <td>{{ keg|last_beer }}</td>
        <td>{{ keg.size }}</td>
        <td>{{ keg|last_location }}</td>
        <td><a href="{{ url_for(".show_keg", keg_id=keg.id) }}">{{ keg.name }}</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</div>
    <h3>Gereinigte Fässer</h3>
<table class="table">
    <thead>
        <td>Volumen</td>
        <td>Ort</td>
        <td>Fass</td>
    </thead>
    {% for keg in kegs %}
    {% if (keg|last_filling is none or (keg|last_filling).empty_date is not none) and keg.clean %}
    <tr>
        <td>{{ keg.size }}</td>
        <td>{{ keg|last_location }}</td>
        <td><a href="{{ url_for(".show_keg", keg_id=keg.id) }}">{{ keg.name }}</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
    <h3>Gärfässer</h3>
<table class="table">
    <thead>
        <td>Bier</td>
        <td>Ort</td>
        <td>Volumen</td>
        <td>Fass</td>
    </thead>
    {% for keg in fermenter %}
    <tr>
        <td>{{ keg|last_beer }}</td>
        <td>{{ keg|last_location }}</td>
        <td>{{ keg.size }}</td>
        <td><a href="{{ url_for(".show_keg", keg_id=keg.id) }}">{{ keg.name }}</a></td>
    </tr>
    {% endfor %}
</table>
    <h3>Leere Fässer</h3>
<table class="table">
    <thead>
        <td>Volumen</td>
        <td>Ort</td>
        <td>Fass</td>
    </thead>
    {% for keg in kegs %}
    {% if (keg|last_filling is none or (keg|last_filling).empty_date is not none) and not keg.clean %}
    <tr>
        <td>{{ keg.size }}</td>
        <td>{{ keg|last_location }}</td>
        <td><a href="{{ url_for(".show_keg", keg_id=keg.id) }}">{{ keg.name }}</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</div>
{% endblock %}