{% extends "base.html" %}
{% block title %}{{ brew.name }} ({{ brew.date.strftime('%d.%m.%Y')}}){% endblock %}
{% set quicklink = url_for(".list_brews") %}
{% set title = brew.name + " (" + brew.date.strftime('%d.%m.%Y') + ")" %}
{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
    <div class="d-grid gap-2 d-md-block p-4">
        <a class="btn btn-primary btn-lg" href="{{ url_for(".create_brew_comment", brew_id=brew.id) }}" role="button">Kommentar</a>
    </div>
    {% endif %}
    <div class="row p-1">
        <div class="col-sm-8">
            <dl class="row">
                <div class="row">
                    <dt class="col-sm-2">Name</dt>
                    <dd class="col-sm-4">{{ brew|last_beer }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Brautag</dt>
                    <dd class="col-sm-4">{{ brew.date.strftime('%d.%m.%Y') }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Informationen</dt>
                    <dd class="col-sm-4">{% if brew.comment is not none %}{{ brew.comment }}{% endif %}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Ausschlagmenge</dt>
                    <dd class="col-sm-4">{{ brew.size }}</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <table class="table">
                <thead>
                    <td>Fass</td>
                    <td>Ort</td>
                </thead>
                {% for filling in brew.fillings %}
                {% if filling.empty_date is none %}
                <tr>
                    <td><a href="{{ url_for(".show_keg", keg_id=filling.keg.id) }}">{{ filling.keg.name }}</a></td>
                    <td>{{ filling.keg|last_location }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <td>Datum</td>
                    <td>Kommentar</td>
                </thead>
                {% for comment in brew.brew_comments|reverse %}
                <tr>
                    <td>{{ comment.timestamp.strftime('%H:%M Uhr %d.%m.%Y') }}</td>
                    <td>{{ comment.comment }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}