{% extends "base.html" %}
{% block title %}Fass - {{ keg.name }}{% endblock %}
{% set quicklink = url_for(".list_kegs") %}
{% if keg|last_filling is not none %}
    {% set title = keg|last_beer %}
{% else %}
    {% set title = keg.name %}
{% endif %}
{% block content %}
<div class="container">
    <div class="d-grid gap-2 d-md-block p-4">
        <a class="btn btn-primary btn-lg {% if keg|last_filling is not none and not (keg|last_filling).empty %}disabled{% endif %}" href="{{ url_for(".fill_keg", keg_id=keg.id) }}" role="button">Füllen</a>
        <a class="btn btn-primary btn-lg {% if keg|last_filling is none or (keg|last_filling).empty %}disabled{% endif %}" href="{{ url_for(".empty_keg", keg_id=keg.id) }}" role="button">Leeren</a>
        <a class="btn btn-primary btn-lg" href="{{ url_for(".create_keg_comment", keg_id=keg.id) }}" role="button">Kommentar</a>
    </div>
    <div class="row p-1">
        <div class="col-sm-8 p-3">
            <dl class="row">
                <div class="row">
                    <dt class="col-sm-2">Inhalt</dt>
                    <dd class="col-sm-4">{{ keg|last_beer }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Ort</dt>
                    <dd class="col-sm-4">{{ keg|last_location }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Reserviert</dt>
                    <dd class="col-sm-4">{% if keg.reserved %}<i class="bi-check-circle"></i>{% else %}<i class="bi-x-circle"></i>{% endif %}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Name</dt>
                    <dd class="col-sm-4">{{ keg.name }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Volumen</dt>
                    <dd class="col-sm-4">{{ keg.size }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2 ">Kommentar</dt>
                    <dd class="col-sm-4 ">{% if keg.comment is not none %}{{ keg.comment }}{% endif %}</dd>
                </div>
            </dl>
            <a class="btn btn-secondary" href="{{ url_for(".edit_keg", keg_id=keg.id) }}" role="button">Bearbeiten <i class="bi-gear-fill"></i></a>
        </div>
        <div class="col-sm-2">
            {% if keg.photo is none %}
                <div class="row"><img src="{{ url_for("static", filename="qrcodes/"+ keg.id|string + ".jpg") }}" class="img-fluid rounded" alt="QR Code für Fass {{ keg.name }}"></div>
                <div class="row" style="float: center"><a class="btn btn-secondary btn-sm" href="{{ url_for(".regenerate_qrcode", keg_id=keg.id) }}" role="button">QRCode generieren</a></div>
            {% else %}
                <img src="{{ url_for(".show_photo", keg_id=keg.id) }}" class="img-fluid rounded" alt="Photo für Fass {{ keg.name }}">
            {% endif %}
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <table class="table">
                <thead>
                    <td>Bier</td>
                    <td>Abfülldatum</td>
                </thead>
                {% for filling in keg.fillings|reverse %}
                <tr {% if loop.index == 1 %} class="table-active"{% endif %}>
                    <td><a href="{{ url_for(".show_brew", brew_id=filling.brew.id) }}">{{ filling.brew.name }}</a></td>
                    <td>{{ filling.date.strftime('%d.%m.%Y') }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <td>Datum</td>
                    <td>Ort</td>
                    <td>Kommentar</td>
                </thead>
                {% for comment in keg.keg_comments|reverse %}
                <tr>
                    <td>{{ comment.timestamp.strftime('%H:%M Uhr %d.%m.%Y') }}</td>
                    <td>{{ comment.location }}</td>
                    <td>{{ comment.comment }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}