{% extends "base.html" %}
{% block title %}{{ brew.name }} ({{ brew.date.strftime('%d.%m.%Y')}}){% endblock %}
{% set quicklink = url_for(".list_brews") %}
{% set title = brew.name + " (" + brew.date.strftime('%d.%m.%Y') + ")" %}
{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
    <div class="d-grid gap-2 d-md-block p-4">
        <a class="btn btn-primary btn-lg" href="{{ url_for(".create_brew_comment", brew_id=brew.id) }}" role="button">Kommentar</a>
    </div>
    {% endif %}
    <div class="row p-1">
        <div class="col-sm-8">
            <dl class="row">
                <div class="row">
                    <dt class="col-sm-2">Name</dt>
                    <dd class="col-sm-4">{{ brew.name }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Brautag</dt>
                    <dd class="col-sm-4">{{ brew.date.strftime('%d.%m.%Y') }}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Informationen</dt>
                    <dd class="col-sm-4">{% if brew.comment is not none %}{{ brew.comment }}{% endif %}</dd>
                </div>
                <div class="row">
                    <dt class="col-sm-2">Ausschlagmenge</dt>
                    <dd class="col-sm-4">{{ brew.size }}</dd>
                </div>
                {% if brew.recipe is not none %}
                <div class="row">
                    <dt class="col-sm-2">Rezept</dt>
                    <dd class="col-sm-4"><a href="{{ brew.recipe }}">MaischeMalzndMehr</a></dd>
                </div>
                {% endif %}
                {% if brew.protocol is not none %}
                <div class="row">
                    <dt class="col-sm-2">Brauprotokoll</dt>
                    <dd class="col-sm-4">vorhanden</dd>
                </div>
                {% endif %}
                {% if brew.original_gravity is not none %}
                <div class="row">
                    <dt class="col-sm-2">Stammwürze</dt>
                    <dd class="col-sm-4">{{ brew.original_gravity }}</dd>
                </div>
                {% endif %}
                {% if brew.final_gravity is not none %}
                <div class="row">
                    <dt class="col-sm-2">Extrakt Jungbier</dt>
                    <dd class="col-sm-4">{{ brew.final_gravity }}</dd>
                </div>
                {% endif %}
            </dl>
            {% if current_user.is_authenticated %}
            <a class="btn btn-secondary" href="{{ url_for(".edit_brew", brew_id=brew.id) }}" role="button">Bearbeiten <i class="bi-gear-fill"></i></a>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h3>Gärfässer</h3>
            {% if not fermenter %}
            <form method="POST" action="{{ url_for(".fill_fermenters", brew_id=brew.id) }}">
            <table class="table">
                <thead>
                    <td></td>
                    <td>Fass</td>
                    <td>Ort</td>
                </thead>
                <tbody>
                    {% for fermenter in empty_fermenter %}
                    <tr>
                        <td>{% if current_user.is_authenticated %}<input id="{{ fermenter.id }}" name="{{ fermenter.id }}" type="checkbox">{% endif %}</td>
                        <td>{{ fermenter.name }}</td>
                        <td>{{ fermenter|last_location }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if current_user.is_authenticated %}
            <button type="submit" class="btn btn-sm btn-secondary">Gärfässer füllen</button>
            {% endif %}
            </form>
            {% else %}
            <table class="table">
                <thead>
                    <td>Fass</td>
                    <td>Ort</td>
                </thead>
                <tbody>
                    {% for keg in fermenter %}
                    <tr>
                        <td><a href="{{ url_for(".show_keg", keg_id=keg.id) }}">{{ keg.name }}</a></td>
                        <td>{{ keg|last_location }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <table class="table">
                <thead>
                    <td>Fass</td>
                    <td>Ort</td>
                </thead>
                {% for filling in brew.fillings %}
                {% if filling.empty_date is none and filling.keg.fermenter == False %}
                <tr>
                    <td><a href="{{ url_for(".show_keg", keg_id=filling.keg.id) }}">{{ filling.keg.name }}</a></td>
                    <td>{{ filling.keg|last_location }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <td>Datum</td>
                    <td>Kommentar</td>
                </thead>
                {% for comment in brew.brew_comments|reverse %}
                <tr>
                    <td>{{ comment.timestamp.strftime('%H:%M Uhr %d.%m.%Y') }}</td>
                    <td>{{ comment.comment }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}